body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}

.header {
  box-sizing: border-box;
}
.order_service {
  padding: 120px;
  background-color: #2e2f42;
}
.link {
  color: #434455;
}
.link:hover {
  color: #4d5ae5;
}
.link:focus {
  text-decoration-line: underline;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.button {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  cursor: pointer;
}

.button-container {
  text-align: center;
}

.button:hover {
  background-color: #404bbf;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.team {
  box-sizing: border-box;
  background-color: #e7e9fc;
}

footer {
  background-color: #2e2f42;
}
